html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0.05em;
}

.content {
  min-height: 100vh;
  line-height: 1.5;
  background: rgb(166,134,0);
  background: linear-gradient(90deg, rgba(166,134,0,1) 8%, rgba(241,255,0,1) 36%, rgba(0,212,255,1) 100%);
}

.card {
  padding: 20px;
  color: #00CED1;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
}
.card h1 {
  margin-bottom: 10px;
  text-align: center;
}
.card h2 {
  margin-bottom: 20px;
  text-align: center;
}
.card p {
  margin-bottom: 1em;
}

.price {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #008B8B;
  border-radius: 3px;
}

.cards {
  display: flex;
  justify-content: center;
  min-height: 450px;
}

.card {
  width: 260px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card > * {
  flex: 1 1 100%;
}

.price {
  align-self: flex-end;
}
